@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "DM sans", sans-serif;
}

body {
  background-color: #f1f1f1;
}
.total {
  display: flex;
  justify-content: center;
  padding: 2em 2em;
}
.navi {
  font-size: 12px;
  color: #999;
  font-weight: 700;
}
.container-product {
  display: flex;
  gap: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  min-height: 100vh;
  padding: 1em;
}
.dark-mode {
  background-color: #212121;
}

.products {
  display: flex;
  margin-bottom: 3.6em;
  align-items: center;
  gap: 2em;
}

.product-total {
  display: flex;
  justify-content: center;
  padding: 1em;
  width: 100%;
  gap: 2em;
}

.imgProduct {
  display: flex;
  flex-direction: column;
  width: 15%;
  gap: 1em;
}

.miniature {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.img-center {
  width: 80%;
  height: auto;
}
.img-principal {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.product-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 1em;
  padding: 1em;
}

.prices {
  display: flex;
  align-items: center;
  gap: 1em;
}

.title-product {
  font-size: 36px;
  color: #222;
}

.star-flex {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.review-star {
  font-size: 12px;
}
.title-product-dark {
  color: #f0f0f0;
}
.price {
  font-size: 26px;
  color: #3565e0;
  font-weight: 600;
}

.price-after {
  color: #999;
  font-size: 18px;
  text-decoration: line-through;
  font-weight: bold;
}

.text-tag {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1em;
  margin-bottom: 1em;
}

.text-tag-dark {
  color: #f0f0f0;
}
.product-shopy {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-shopy-dark {
  color: #f0f0f0;
}
.btn-up {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.quantity_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #3333;
  border-radius: 5px;
  padding: 16px;
}
.quantity_button-dark{
  border: 1px solid #f8f8f8;
}

.quantity-input {
  background-color: transparent;
  font-weight: 700;
  font-size: 1.3em;
  border: none;
  width: 20%;

  text-align: center;
}
.quantity-input-dark {
  color: #f0f0f0;
}
.quantity-input :focus {
  border: none;
}
.quantity {
  background-color: transparent;
  border: none;
  font-size: 1.8em;
  color: #3565e0;
  cursor: pointer;
}

.add-cart {
  width: 100%;
  font-size: 1.1em;
  cursor: pointer;
  height: 100%;
  font-weight: 700;
  border: 1px solid #999;
  padding: 16px 26px;
  border-radius: 5px;
}
.add-cart:hover {
  border: 1px solid #3565e0;
}
.btn-shop {
  background-color: #3565e0;
  width: 100%;
  cursor: pointer;
  font-size: 1.3em;
  border: none;
  color: #f1f1f1;
  font-weight: bold;
  padding: 5% 30%;
  border-radius: 5px;
  text-align: center;
}

.text-subtitles {
  font-size: 1em;
  font-weight: 600;
  color: #121212;
}
.text-subtitles-dark {
  color: #f8f8f8f8;
}
.product-tech {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.product-tech-dark {
  color: #f8f8f8;
}
.list-tech-product {
  list-style: none;
  margin-top: -0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.ionicon {
  width: 5%;
  height: auto;
}
.stock {
  color: #118111;
  font-weight: 700;
}
.list-icon {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.text-descri {
  font-weight: 700;
  color: #333;
}

.product-travel-details {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.icons {
  width: 2%;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 70em;
}
.about-description {
  display: flex;
  flex-direction: column;
  height: auto;
}
.about-content {
  cursor: pointer;
  display: flex;
  gap: 0.5em;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  color: #444;
  padding: 0.5em 0;
  justify-content: space-between;
  align-items: center;
}
.about-content:hover {
  color: #007aff;
}

.about-characteristics {
  cursor: pointer;
  display: flex;
  text-transform: uppercase;
  font-size: 14px;
  color: #444;
  padding: 0.5em 0;
  justify-content: space-between;
  align-items: center;
}

.about-characteristics:hover {
  color: #007aff;
}

.cuentas-bancarias {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 1em;
  border-radius: 10px;
  gap: 1em;
  border: 2px solid #007aff;
}
.title-cuentas {
  font-size: 1.2em;
  font-weight: 700;
  color: #333;
}
.list-cuentas-bancarias {
  display: flex;
  align-items: center;
  gap: 2em;
}
.cuentas-bancarias-p {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.more {
  color: #0e2f7f;
  cursor: pointer;
  font-size: 1em;
}
/* .market-place {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.list-market-place {
  display: flex;
}
.img-market-place {
  height: 30%;
  border-radius: 10px;
  width: 100%;
} */

.product-relational {
  background-color: #ffff;
  padding: 1em;
  display: flex;

  height: auto;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.left-product-relational {
  width: 40%;
}
.right-product-relational {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.title-product-relational {
  font-size: 1em;
}
.title-product-relational-p {
  font-size: 0.9em;
}
.price-product-relational {
  font-size: 1.5em;
  color: #000;
  font-weight: 700;
}
.price-product-relational-after {
  color: #999;
  font-size: 1em;
  text-decoration: line-through;
  font-weight: bold;
}
.add {
  font-size: 1em;
  padding: 1em 1.5em;
  cursor: pointer;
  border: none;
  color: #3b6be2;
  font-weight: 700;
  text-decoration: none;
  background: #f1f4fd;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* description */

.about {
  padding: 1em;
}
.about-visibility.about-text {
  display: none;
}

.character-text {
  display: none;
}
.about-visibility {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.character-visibility {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}
.about-subtitle {
  font-size: 1.4em;
}
.about-parrafo {
  font-size: 1.1em;
}

@media screen and (max-width: 1750px) {
  .product-left {
    width: 60%;
  }
  .text-tag {
    font-size: 0.9em;
  }
  .about {
    width: 95%;
  }
  .product-right {
    width: 40%;
  }
  .about-visibility {
    font-size: 0.8em;
  }
  .character-visibility {
    font-size: 0.8em;
  }
  .right-product-relational {
    font-size: 0.9em;
  }
  .cuentas-bancarias {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 1150px) {
  .product-left {
    width: 60%;
  }
  .text-tag {
    font-size: 0.9em;
  }
  .about {
    width: 95%;
  }
  .product-right {
    width: 40%;
  }
  .about-visibility {
    font-size: 0.8em;
  }

  .right-product-relational {
    font-size: 0.8em;
  }
  .cuentas-bancarias {
    font-size: 0.8em;
  }
  .quantity_button {
    width: 50%;
  }
}

@media screen and (max-width: 970px) {
  .products {
    flex-direction: column-reverse;
  }
  .imgProduct {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .total {
    padding: 0 0;
    margin: 0;
  }
  .product-relational {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right-product-relational {
    font-size: 0.7em;

    width: auto;
  }
  .cuentas-bancarias {
    font-size: 0.6em;
  }
  .quantity_button {
    width: 20%;
  }
  .quantity_button {
    width: 100%;
    height: auto;
  }
  .add-cart {
    height: auto;
    font-size: 1em;
  }
}
